# .env.example
# Project Configuration
GOOGLE_CLOUD_PROJECT="ai-innolab-plat-sdx-402b"
GOOGLE_CLOUD_LOCATION="europe-west1"

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="your-firebase-api-key"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="251928261420"
NEXT_PUBLIC_FIREBASE_APP_ID="1:251928261420:web:f17f44c4ccbb6bfe627289"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-PPQJKEVLHS"
NEXT_PUBLIC_ALLOWED_DOMAINS="your-email-domains"

# API Configuration
NEXT_PUBLIC_API_HOST_AND_PORT="your-api-endpoint.com"
NEXT_PUBLIC_APP_HOST_AND_PORT="your-app-url.com"

# Feature Flags
NEXT_PUBLIC_ENABLE_ANALYTICS="false"
NEXT_PUBLIC_ENABLE_EMAIL_VERIFICATION="false"